.item-title {
    color: black;
    font-size: 16px;
    font-weight: bold;
}

.item-description {
    color: black;
    font-size: 14px;
    margin-top: 5px;
}

.item-date {
    color: black;
    font-size: 12px;
    margin-top: 5px;
}

.item-image {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-top: 10px;
}

.page{
    background-color: white;
}